/* responsive */
@media (min-width: 768px) {
  .hero-content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .sobre-mi-content {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }

  .nav-list {
    justify-content: flex-end;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
